<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
<style>
.card-body {
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 20px
}

#formulario {
	display: flex;
	margin-left: 180px
}

.card {
	border: none
}
body{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    }
</style>
</head>
<body th:style="|background-image: url('@{/img/Fondo.jpeg}');|">
	<div class="container my-5 d-flex justify-content-center">
		<div class="card col-md-8">
			<div class="card-body py-4">
				<div id="formulario" class="col-md-10">
					<form th:action="@{/procedimientos/save/{id}(id = ${mascota.id})}"
						th:object="${procedimiento}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Nombre</label> <input
									type="text" th:field="*{nombre}" class="form-control"
									id="nombre" placeholder="Nombre">
							</div>
							<div class="form-group col-md-8">
								<label for="fecha" class="col-form-label">Fecha</label> <input
									type="date" th:field="*{fecha}" class="form-control" id="fecha">
							</div>
							<div class="form-group col-md-8">
								<label for="tipo" class="col-form-label">Tipo</label> <input
									type="text" th:field="*{tipo}" class="form-control" id="tipo"
									placeholder="Tipo">
							</div>
							<div class="form-group col-md-8">
								<label for="descripcion" class="col-form-label">Descripción</label>
								<textarea class="form-control" id="descripcion"
									th:field="*{descripcion}"></textarea>
							</div>
							<input type="hidden" th:field="*{id}">
							<div class="col-md-8">
								<input type="submit" class="btn btn-primary" value="Enviar">
								<a th:href="@{/mascotas/{cedula}(cedula = ${session.usuario.cedula})}" class="btn btn-danger"
									style="margin-left: 160px; padding-left: 5px"> <i
									class="fas fa-times-circle ml-2"> Cancelar</i>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>