<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
<link rel="stylesheet" th:href="@{/css/cruds.css}">
<style>
.card-body {
	display: flex;
	justify-content: center;
}

.card {
	border: none;
	display: flex;
	justify-content: center;
}
body{
    background-size: cover; 
    background-repeat: no-repeat; 
    }
</style>
</head>
<body>
<body th:style="|background-image: url('@{/img/Fondo.jpeg}');|">
<header class="header">
	<div class="d-flex justify-content-start container">
					<a th:href="@{/logout}" class="btn btn-danger"
						style="margin-right: 100px"> <i
						class="fas fa-sign-out-alt ml-2"> Cerrar sesión</i>
					</a>
	</div>
</header>
<br><br>
<div class="d-flex justify-content-center container">
		<div class="card">
			<div class="card-body">
					<div class="container text-center">
						<h1 class="text-center">
							Bienvenido, <span th:text="${session.usuario.usuario}"></span>
						</h1>
						<div style="margin-top: 80px" class="text-center">
							<a class="btn btn-primary" th:href="@{/veterinarios}">Lista de veterinarios</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</html>